[*.json]
end_of_line = crlf
indent_style = tab
tab_width = 4

[*.csproj]
end_of_line = crlf
indent_style = tab
tab_width = 4

[*.cs]
end_of_line = crlf
indent_style = tab
tab_width = 4
csharp_style_namespace_declarations = file_scoped:warning

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

[*.xaml]
end_of_line = crlf
indent_style = tab
tab_width = 4
